{% extends 'base.html.twig' %}

{% block title %}Social Programmers{% endblock %}

{% block body %}
    <div class="container min-vh-100">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">

                <div class="p-5 mb-4 bg-light rounded-3 mt-5">
                    <div class="container-fluid ">
                        <h5 class="display-6 fw-bold">Welcome</h5>
                        <p class="col-md-8 fs-4">The objective of The Social Programmers is to help each other learn, through knowledge sharing, mentoring and
                            co-coding. Ideally face to face, in real life. All technologies, levels, ages and genders are very welcome.
                            Let's code, chat or have a drink together.</p>
                        {% if not app.user %}
                        <a href="{{ path('app_register') }}" class="btn btn-success btn-lg">Register</a>
                        <a href="{{ path('app_login') }}" class="btn btn-outline-dark btn-lg">Login</a>
                        {% endif %}
                    </div>
                </div>

                <div class="row mt-5">
                    <h5 class="mb-3 text-secondary">Upcoming events</h5>
                    {% for event in upcomingEvents %}
                        <div class="col-md-4">
                            <div class="card border-0">
                                <div class="card-body">
                                    <b>{{ event.title }}</b>
                                    <div>{{ event.startsAt|date }}</div>
                                </div>
                                <a class="stretched-link"
                                   href="{{ path('event', {id: event.id}) }}"></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
