{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center vh-80">
            <div class="col-md-6">
                <div class="card border-0 shadow">

                    <div class="card-body">
                        <img class="avatar rounded-circle mx-auto border d-block mb-3" height="150" width="150"
                             src="{{ app.user.avatar }}">

                        {{ form_start(accountForm) }}
                        {{ form_row(accountForm.name) }}
                        {{ form_row(accountForm.email) }}
                        {{ form_row(accountForm.timezone) }}
                        <div class="text-end">
                            <button type="submit" class="btn btn-dark">save</button>
                        </div>
                        {{ form_end(accountForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
